.view-splash {
    .action {
        padding: 10px;
        text-align: center;
        background-color: $positive;

        .facebook {
            border: none;
            color: white;
            background-color: #3b5998 !important;
        }

        .button {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 339px) {
        .button {
            padding: 1px;
            font-size: 12px;
        }
    }
}
